/* Fundo da página principal */
body {
    background: #A020F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Campo que irá aparecer as informações do IMC calculado */
#resultado {
    background: #F5DEB3;
    border-radius: 3px;  
}
